/* Header - 
 * Hamburger + Menu + Search 
 */

body {

  &.path-frontpage {
    .primary-header.with-hamburger.hamburger_menu_and_search {
      .header-menu-item-wrapper.main-header-menu {
        .menu-wrapper {
          .mega-menu-main-wrapper {
            @apply opacity-100;
          }
        }
      }
    }
  }

  /* Primary header */
  .primary-header {

    &.with-hamburger {

      /* Header types with Hamburger - 
       * Hamburger + Menu + Search
       */
      &.hamburger_menu_and_search {
        @apply h-[4.375rem] lg:h-[5.75rem] py-3 px-4 md:px-[1.875rem] lg:py-0;

        background: rgba(0, 0, 0, 0.2);

        > .container {
          @apply justify-between items-center lg:justify-start lg:items-end h-full;
        }

        .site_logo {
          @apply self-center;
        }

        .hamburger-icon {
          @apply mr-0 lg:mr-8 ml-4 lg:ml-64 h-[4.375rem] lg:h-[5.75rem] flex items-center lg:items-end pb-0 lg:pb-18;

          .btn-hamburger {
            @apply h-4 w-5;

            span {
              @apply bg-white rounded-none;

              &.second {
                @apply w-[0.9375rem];
              }
            }
          }
        }

        .header-menu-item-wrapper:not(.main-header-menu) {
          @apply lg:absolute top-[4.4375rem] lg:top-[101%] lg:left-0 lg:opacity-0 w-full bg-white pb-112 lg:py-0 maxLg:py-0 maxLg:p-0 maxLg:overflow-y-hidden -z-10;

          height: calc(100vh - 71px);
          transition: left .3s cubic-bezier(.79,.14,.15,.86), opacity .3s cubic-bezier(.79,.14,.15,.86);

          /* Viewport height minus Header height */
          @media screen(lg) {
            height: calc(100vh - 80px);
          }

          .menu-wrapper,
          .container {
            @apply h-full;
          }

          .container {
            @apply static lg:relative;
          }

          .mega-menu-main-wrapper {
            @apply lg:bg-backgroundNeutral-neutralMedium px-4 md:px-[1.875rem] lg:pr-0 lg:pl-[100vw] lg:ml-[-100vw] h-full lg:opacity-100 maxLg:overflow-y-auto;

            transition: opacity 0.3s ease-out 0.2s;

            &.fade-menu {
              @apply opacity-0;
            }

            ul.mega-menu-primary {
              @apply lg:pl-[1.875rem] xl:pl-0 flex-col lg:h-full lg:w-[18.125rem] 2xl:w-[23.75rem] lg:overflow-y-auto py-4 lg:py-8 lg:pr-4 xl:pr-8;
    
              &:before {
                @apply lg:w-[70%] xl:w-[75%] bg-white absolute top-0 right-0 hidden lg:block z-0;
    
                content: '';
    
                @media screen(lg) {
                  height: calc(100vh - 80px);
                }
              }
    
              > .navigation__item {
                @apply lg:px-0 lg:py-3 w-full lg:max-w-[20rem] 2xl:max-w-full static mr-0 mb-0;
    
                transition: all 300ms ease-in-out;
    
                &:hover {
                  @apply lg:bg-transparent;
    
                  > a {
                    @apply text-text-primaryDark;
                  }
                }
    
                > a,
                > .header-menu-item {
                  @apply flex justify-between items-center flex-row py-3 lg:py-0 text-20 leading-28 font-bold static mb-0;
    
                  text-decoration: none;
                  transition: all 300ms ease-in-out;
    
                  &.active {
                    @apply text-text-primaryDark;
                  }
    
                  svg {
                    @apply -rotate-90 ml-4 !important;
                  }
                }

                &:hover {
    
                  .header-menu-item > a,
                  > a.header-menu-item {
                    @apply lg:text-text-danger;
                  }
                }
    
                .menu-link-contentmain {
                  @apply absolute left-[-999vw] lg:h-full w-full lg:w-[70%] xl:w-[75%] top-0 lg:right-0 py-4 lg:py-6 px-0 lg:px-8 bg-white maxLg:flex maxLg:flex-col maxLg:overflow-y-auto;
    
                  z-index: 30;
                  transition: left .3s cubic-bezier(.79,.14,.15,.86);
    
                  @media screen(maxLg) {
                    height: calc(100vh - 64px);
                  }

                  @media screen(lg) {
                    height: calc(100vh - 80px);
                  }

                  .layout {

                    > .layout-wrapper {
                      @apply maxLg:gap-y-0;

                      .layout__region {
                        @apply py-0;
                      }
                    }
                  }
    
                  .menu {
                    li:last-child {
                      @apply mb-2;
                    }
                  }

                  .block-navigation.block-sub-menu {

                    .block-navigation-content {
                      @apply static;

                      .menu {
                        > li {
                          ul[class^="menu__level-"] {
                            @apply absolute -left-[999vw] top-0 w-full lg:h-full bg-white p-4 md:px-[1.875rem] md:py-4 lg:p-0 maxLg:z-30 maxLg:overflow-y-auto;

                            transition: left .3s cubic-bezier(.79,.14,.15,.86);

                            @media screen(maxLg) {
                              height: calc(100vh - 64px);
                            }

                            &.show-menu-ul {
                              @apply left-0;
                            }

                            li {
                              a {
                                @apply py-3 block;
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  &.opened-menu-ul {
                    @apply maxLg:overflow-y-hidden;
                  }
                }
    
                &.menu-active {
    
                  > span.header-menu-item {
                    @apply mb-0;

                    svg {
                      @apply -rotate-90 text-text-danger fill-[text-text-danger];
                    }
                  }

                  .header-menu-item > a,
                  > a.header-menu-item {
                    @apply text-text-danger;
                  }
    
                  .menu-link-contentmain {
                    @apply maxLg:left-0 opacity-100;
    
                    transition: left .3s cubic-bezier(.79,.14,.15,.86);
    
                    @media screen(lg) {
                      left: inherit;
                    }
                  }
                }
              }
            }
          }

          &.display-header {
            @apply lg:opacity-100;

            z-index: 2;

            .sticky-menu-item {
              @apply opacity-100 !important;
            }
          }
        }

        .header-menu-item-wrapper {

          /* Main menu */
          &.main-header-menu {

            .menu-wrapper {

              /* Mega menu inside main */
              .mega-menu-main-wrapper {
                @apply opacity-0;

                transition: opacity 0.3s ease-out 0.2s;

                &.fade-menu {
                  @apply opacity-0;
                }

                .mega-menu-primary {
                  > .navigation__item {

                    > .link-element,
                    > span.header-menu-item {
                      @apply text-white cursor-pointer text-16 leading-6 font-bold h-[5.75rem] items-end pb-3 no-underline relative;

                      &:after {
                        @apply content-[''] block border-b-[0.1875rem] border-text-danger absolute bottom-0 w-full;
                        
                        transform: scaleX(0);  
                        transition: transform 250ms ease-in-out;
                        transform-origin: 0% 50%;
                      }
                    }

                    > span.header-menu-item {
                      @apply flex maxLg:justify-between gap-x-[0.8125rem];

                      .navigate-icon {
                        @apply hidden;
                      }
                    }
        
                    > .menu-link-contentmain {
                      @apply lg:py-10 lg:px-[1.875rem] xl:p-10 rounded-md top-[-999vh] xl:h-auto left-0 right-0 xl:w-[theme('container.screens.xl')] 2xl:w-[theme('container.screens.2xl')] mx-auto shadow-[0px_12px_16px_-4px_rgba(16,24,40,0.1),0px_4px_6px_-2px_rgba(16,24,40,0.05)];

                      .layout {
                        @apply lg:px-0;

                        .layout__region {
                          @apply p-0;
                        }
                      }
                    }

                    &:hover {
                      > .link-element,
                      > span.header-menu-item {

                        &:after {
                          transform: scaleX(1);
                        }
                      }
                    }

                    &.menu-active {

                      > .link-element,
                      > span.header-menu-item {

                        &:after {
                          transform: scaleX(1);
                        }
                      }

                      .menu-link-contentmain {
                        @apply opacity-100 top-[101%];
                      }
                    }
                  } 
                }
              }

              /* Other pages navigations inside main */
              > .block-navigation {
                @apply lg:relative;

                .block-title {
                  @apply absolute opacity-100 top-8 text-white mb-2 text-12 leading-5 font-medium;

                  transition: opacity 0.3s ease-out 0.2s, top 0.3s ease-out 0.2s;

                  &.fade-block-title {
                    @apply opacity-0 top-10;
                  }
                }

                .block-navigation-content {
                  transition: opacity 0.3s ease-out 0.2s;

                  &.fade-menu {
                    @apply opacity-0;
                  }
                }

                .menu-navigation {
                  @apply flex items-end;

                  transition: all 300ms ease-in-out;

                  &:hover {
                    @apply lg:bg-transparent;
                  }

                  > li {
                    @apply lg:mr-8 mb-8 lg:mb-0 lg:mt-0 relative;

                    &:last-child {
                      @apply maxLg:mb-8;
                    }

                    > .link-element,
                    > span.header-menu-item {
                      @apply text-white cursor-pointer text-16 leading-6 font-bold h-[5.75rem] items-end pb-3 no-underline relative;

                      &:after {
                        @apply content-[''] block border-b-[0.1875rem] border-text-danger absolute bottom-0 w-full;
                        
                        transform: scaleX(0);  
                        transition: transform 250ms ease-in-out;
                        transform-origin: 0% 50%;
                      }
                    }

                    > span.header-menu-item {
                      @apply flex maxLg:justify-between gap-x-[0.8125rem];
                    }

                    > ul[class^='menu__level-'] {
                      @apply hidden bg-white p-6 min-w-[21.25rem] max-w-[21.25rem] absolute top-[100%] -translate-x-2/4 w-full left-2/4;

                      transition: all 300ms ease-in-out;

                      li {
                        .link-element {
                          @apply text-text-heading text-16 leading-6 py-[0.375rem];

                          &:hover {
                            @apply text-text-danger;
                          }
                        }
                      }
                    }

                    &:hover,
                    &.has-children.active {

                      > .link-element,
                      > span.header-menu-item {
                        &:after {
                          transform: scaleX(1);
                        }
                      }
                    }

                    &.has-children {

                      &.active {
                        > ul[class^='menu__level-'] {
                          @apply block;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          /* Menu block components inside Mega menu */
          ul.mega-menu-primary {
            > .navigation__item {
              
              .menu-link-contentmain {

                /* Text component */
                .text-block {
                  .block-title {
                    @apply text-20 leading-6 text-text-heading lg:text-[2rem] lg:leading-44 font-bold lg:text-text-neutralLight border-b border-text-neutralLight py-3 lg:pt-0 lg:pb-4 mb-0 maxLg:flex;
        
                    letter-spacing: -0.02em;

                    @media screen(maxLg) {
                      &::before {
                        @apply content-[''] block bg-no-repeat bg-contain w-[1.25rem] h-[1.25rem] mr-[0.75rem];
                        
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 18L9 12L15 6' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                      }
                    }
                  }
                }

                /* Child navigations inside block navigation */
                .block-navigation.block-sub-menu {

                  .block-title {
                    @apply relative py-3 lg:py-0 mb-0 lg:mb-4 maxLg:text-18 maxLg:leading-22;
                  }

                  .backto-parent {
                    @apply text-20 leading-6 text-text-heading font-bold border-b border-text-neutralLight py-3 mb-6 maxLg:flex;
        
                    letter-spacing: -0.02em;

                    @media screen(maxLg) {
                      &::before {
                        @apply content-[''] block bg-no-repeat bg-contain w-[1.25rem] h-[1.25rem] mr-[0.75rem];
                        
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 18L9 12L15 6' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                      }
                    }
                  }

                  .block-navigation-content {
                    @apply z-20;

                    .menu {
                      > li {
                        @apply maxLg:mt-0;

                        .link-element {
                          @apply py-3 lg:py-0 block;
                        }

                        &.has-children {

                          > .link-element {
                            @apply maxLg:relative;

                            @media screen(maxLg) {
                              &::after {
                                @apply content-[''] block bg-no-repeat bg-contain w-[1.25rem] h-[1.25rem] absolute top-[0.9375rem] right-0 ml-[0.75rem];

                                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                              }
                            }
                          }
                        }

                        ul[class^='menu__level-'] {
                          @apply lg:hidden;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
