/* Note: The easiest way to avoid showing invisible text while custom fonts load is to temporarily show a system font. By including font-display: swap in your @font-face style, you can avoid FOIT in most modern browsers. */

/* Space Grotesk - Regular */
@font-face {
  font-family: 'SpaceGroteskRegular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Space-Grotesk/Space-Grotesk-Regular/SpaceGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/Space-Grotesk/Space-Grotesk-Regular/SpaceGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/Space-Grotesk/Space-Grotesk-Regular/SpaceGrotesk-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/Space-Grotesk/Space-Grotesk-Regular/SpaceGrotesk-Regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/Space-Grotesk/Space-Grotesk-Regular/SpaceGrotesk-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

/* Space Grotesk - Bold */
@font-face {
  font-family: 'SpaceGroteskBold';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/Space-Grotesk/Space-Grotesk-Bold/SpaceGrotesk-Bold.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/Space-Grotesk/Space-Grotesk-Bold/SpaceGrotesk-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/Space-Grotesk/Space-Grotesk-Bold/SpaceGrotesk-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/Space-Grotesk/Space-Grotesk-Bold/SpaceGrotesk-Bold.woff') format('woff'), /* Modern Browsers */
  url('fonts/Space-Grotesk/Space-Grotesk-Bold/SpaceGrotesk-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

/* Helvetica Now Display - Regular */
@font-face {
  font-family: 'Helvetica-Now-Display';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Helvetica-Now-Display/HelveticaNowDisplay-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/Helvetica-Now-Display/HelveticaNowDisplay-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/Helvetica-Now-Display/HelveticaNowDisplay-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/Helvetica-Now-Display/HelveticaNowDisplay-Regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/Helvetica-Now-Display/HelveticaNowDisplay-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

html,
body {
  height: 100%;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .display3XL-regular {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -0.02em;
  }
  .display3XL-medium {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -0.02em;
  }
  .display3XL-semibold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 600;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -0.02em;
  }
  .display3XL-bold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: bold;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -0.02em;
  }
  .display2XL-regular {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;
    line-height: 4.75rem;
    letter-spacing: -0.02em;
  }
  .display2XL-medium {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 4.75rem;
    letter-spacing: -0.02em;
  }
  .display2XL-semibold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 4.75rem;
    letter-spacing: -0.02em;
  }
  .display2XL-bold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 4.75rem;
    letter-spacing: -0.02em;
  }
  .displayXL-regular {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.02em;
  }
  .displayXL-medium {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.02em;
  }
  .displayXL-semibold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.02em;
  }
  .displayXL-bold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: bold;
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.02em;
  }
  .displayLG-regular {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.02em;
  }
  .displayLG-medium {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -0.02em;
  }
  .displayLG-semibold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -0.02em;
  }
  .displayLG-bold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -0.02em;
  }
  .displayMd-regular {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
  }
  .displayMd-medium {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
  }
  .displayMd-semibold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
  }
  .displayMd-bold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
  }
  .displaySm-regular {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 1.88rem;
    line-height: 2.5rem;
  }
  .displaySm-medium {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 1.88rem;
    line-height: 2.5rem;
  }
  .displaySm-semibold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 600;
    font-size: 1.88rem;
    line-height: 2.5rem;
  }
  .displaySm-bold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: bold;
    font-size: 1.88rem;
    line-height: 2.5rem;
  }
  .displayXs-regular {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .displayXs-medium {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .displayXs-semibold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .displayXs-bold {
    font-family: 'SpaceGroteskRegular';
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .textXL-regular {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .textXL-medium {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .textXL-semibold {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .textXL-bold {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .textLG-regular {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: normal;
    font-size: 1.13rem;
    line-height: 1.75rem;
  }
  .textLG-medium {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: 500;
    font-size: 1.13rem;
    line-height: 1.75rem;
  }
  .textLG-semibold {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: 600;
    font-size: 1.13rem;
    line-height: 1.75rem;
  }
  .textLG-bold {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: bold;
    font-size: 1.13rem;
    line-height: 1.75rem;
  }
  .textMd-regular {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .textMd-medium {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .textMd-semibold {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .textMd-bold {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .textSm-regular {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: normal;
    font-size: 0.88rem;
    line-height: 1.25rem;
  }
  .textSm-medium {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: 500;
    font-size: 0.88rem;
    line-height: 1.25rem;
  }
  .textSm-semibold {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: 600;
    font-size: 0.88rem;
    line-height: 1.25rem;
  }
  .textSm-bold {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: bold;
    font-size: 0.88rem;
    line-height: 1.25rem;
  }
  .textXs-regular {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  .textXs-medium {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  .textXs-semibold {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  .textXs-bold {
    font-family: 'Helvetica-Now-Display';
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

/* For Storybook */
/* Hiding few color schemes from storybook. */
.docblock-colorpalette > div:nth-last-child(-n+13) {
  @apply hidden;
}
