/* Accordion with image */

.accordion {
  &.accordion-with-image {

    .accordion-item {

      &.with-border {
        @apply border-0;

        .accordion-item-inner {
          @apply border-t;
        }
      }

      &:first-child {

        .accordion-item-inner {
          @apply border-0 !important;
        }
      }
    }

    /* Variation 1 */
    &.variation-1 {
      @apply relative lg:h-screen lg:flex lg:flex-col lg:justify-center;

      .accordion-item {
  
        .accordion-image {
          @apply lg:absolute lg:top-0 lg:right-0 lg:w-[48.7%] lg:h-full lg:flex lg:items-center;
        
          .image-el,
          picture img {
            @apply w-full hidden lg:block lg:opacity-0;

            transition: opacity 0.5s ease;
          }
        }
  
        .accordion-item-inner {
          @apply lg:w-[40.3%];
      
          &.opened {
        
            + .accordion-image {
              @apply py-6 px-8 lg:px-0 lg:py-0;

              .image-el,
              picture img {
                @apply block lg:opacity-100;
              }
            }
          }
        }
      }
    }

    /* Variation 1.2 */
    &.variation-1-2 {
      @apply relative lg:h-full lg:flex lg:flex-col lg:justify-center;

      .accordion-intro {
        @apply mb-8 md:mb-48 lg:w-[40.3%];

        .accordion-intro-pre-heading {
          @apply uppercase text-text-primaryDark mb-2;
        }

        .accordion-intro-heading {

          .headline {
            @apply m-0 text-text-heading;
          }
        }
      }

      .accordion-item {
        @apply overflow-visible;
  
        .accordion-image {
          @apply lg:absolute lg:top-0 lg:right-0 lg:w-[48.7%] lg:h-full;

          .ac-image {
            @apply lg:sticky lg:top-0 lg:h-screen;
          }
        
          .image-el,
          picture img {
            @apply w-full maxLg:h-0 lg:opacity-0;

            transition: opacity 0.5s ease, height 0.5s ease;
          }
        }
  
        .accordion-item-inner {
          @apply lg:w-[40.3%] opacity-50;

          transition: opacity 0.5s ease;

          .accordion-content {
            @apply h-full opacity-100 pb-3 !important;
          }
      
          &.opened {
            @apply opacity-100;
        
            + .accordion-image {
              @apply py-6 px-0 lg:py-0;

              .image-el,
              picture img {
                @apply maxLg:h-auto lg:opacity-100;
              }
            }
          }
        }
      }
    }

    /* Variation 3 */
    &.variation-3 {
      @apply relative h-screen;

      .accordion-inner {
        @apply flex flex-col justify-center h-full;

        .inner-wrap {
          @apply bg-white p-8 md:w-[28.125rem] xl:w-[40.2%] my-5 xl:my-0;

          @media screen(xl) {
            max-height: calc(100vh - 200px);
            min-height: 21.875rem;
          }
        }
      }

      .accordion-item {

        &:first-child {
          .accordion-item-inner {
  
            .ac-title {
              @apply pt-0 !important;
            }
          }
        }
  
        .accordion-image {
          @apply absolute top-0 left-0 w-full h-full;

          z-index: -1;

          .ac-image {
            @apply h-full;
          }
        
          .image-el,
          picture img {
            @apply w-full opacity-0 h-full object-cover;

            transition: opacity 0.5s ease-in;
          }
        }
  
        .accordion-item-inner {
          z-index: 1;
      
          &.opened {
        
            + .accordion-image {
              @apply px-0 py-0;

              .image-el,
              picture img {
                @apply opacity-100;
              }
            }
          }
        }
      }
    }

    /* Variation 4 - Coverflow*/
    &.variation-4 {

      .inner-wrap {
        @apply flex flex-col-reverse lg:flex-row lg:justify-between lg:items-center;
      }

      .accordion-items {
        @apply lg:w-[31.6%] lg:gap-x-8;

        .accordion-item {

          .accordion-item-inner {
            @apply maxLg:border-0;
          }

          .ac-title {
            @apply maxLg:pt-0;

            .icons {
              @apply maxLg:hidden;
            }
          }

          .accordion-content {
            @apply maxLg:p-0 maxLg:opacity-100 maxLg:h-auto;
          }
        }
      }

      .coverflow-items {
        @apply lg:w-[48.4%] lg:relative lg:h-[38.4375rem] lg:overflow-hidden;
        
        .c-image {
          @apply lg:absolute lg:z-0 lg:top-[50%] lg:left-[50%];

          @media screen(lg) {
            transform: translate(-50%, -50%);
          }

          .image-el,
          picture img {
            @apply w-full lg:w-[23.625rem] lg:max-w-[fit-content];

            @media screen(lg) {
              transition: transform 0.3s ease;
            }
          }
        }
      }
    }
  }
}
