{#
/**
 * @file
 * variation-1
 *
 * See accordion-with-image.space.yaml for documentation.
 */
#}
{{ attach_library('oecd/accordion') }}
{{ attach_library('oecd/accordion-with-image') }}

{% set classes = ([
  'accordion',
  'accordion-with-image variation-1 ga-accordion-with-image-1',
] | sort | join(' ') | trim ) %}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

{# TEMPLATE #}
{% block accordion_variation_1_block %}
  <div{{ attributes }}>
    {{ items }}
  </div>
{% endblock %}
