{#
/**
 * @file
 * variation-3
 *
 * See accordion-with-image.space.yaml for documentation.
 */
#}
{{ attach_library('oecd/accordion') }}
{{ attach_library('oecd/accordion-with-image') }}

{% set classes = ([
  'accordion',
  'accordion-with-image variation-3 ga-accordion-with-image-3',
] | sort | join(' ') | trim ) %}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

{# TEMPLATE #}
{% block accordion_variation_3_block %}
  <div{{ attributes }}>
    <div class="accordion-inner container mx-auto">
      <div class="inner-wrap">
        {{ items }}
      </div>
    </div>
  </div>
{% endblock %}
