{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}

{{ attach_library('oecd/notification-banner') }}

{# SETTINGS #}
{% set ntf_icon_show = notification_icon_visibility %}

{% set status_heading = {
  'status': 'Status message'|t,
  'error': 'Error message'|t,
  'warning': 'Warning message'|t,
  'info': 'Informative message'|t,
} %}

{# SECTION CLASSES #}
{% set classes = ([
  "notification_wrapper w-full top-0 left-0 clear-both bg-text-primaryDark text-white",
  notification_size_options,
  notification_align_options,
  notification_bg_options,
  notification_layout_options,
  notification_align_options == "left" ? "text-left",
  notification_bg_options == "light" ? "bg-text-neutralLight text-defaultGray-500",
  notification_bg_options == "black" ? "bg-text-heading ",
] | sort | join(' ') | trim )%}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

{% set messages_attributes = attributes %}
 
{# TEMPLATE #}
{% embed '@organisms/container/container.twig' with {
  width: 'full',
  padding_top: '',
  padding_bottom: 'default',
  message_list: message_list,
  messages_attributes: messages_attributes,
  ntf_icon_show: ntf_icon_show
} only %}

  {% block content %}
    {% for type, messages in message_list %}
      <div {{ messages_attributes }}>
        <div class="notification-bar relative container mx-auto">
          <div class="notification-bar_innerwrapper mx-auto p-3.5 px-4 md:px-[1.875rem] xl:px-0 flex content-center items-center justify-center">
            <div class="content text-center flex items-center">
            
              {% if ntf_icon_show == 1 %}
                <span class="inline-block mr-2">{% include '@atoms/svg/_svg--icon.twig' with {
                  variant: type,
                  icon: "globe",
                  size: "h-4 w-4"} only %}
                </span>
              {% endif %}
              {% for type, messages in message_list %}
                  {% if messages|length > 1 %}
                  {% for message in messages %}
                  <div class="headline text-white flex-1 mb-0 textSm-regular md:textMd-regular" tabindex='0'>{{ message }}</div>
                  {% endfor %}
                  {% else %}
                  <div class="headline text-white flex-1 mb-0 textSm-regular md:textMd-regular" tabindex='0'>{{ messages|first }}</div>
                  {% endif %}
              {% endfor %}
            </div>
            <span class="close ml-auto cursor-pointer" tabindex='0'>{% include "@atoms/svg/_svg--icon.twig" with {
                icon: "xcross",
                size: "h-2.5 w-2.5",
                fill_color: 'text-white'
              } only %}</span>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endblock %}
{% endembed %}
