{#
/**
 * @file
 * timeline-years
 *
 * See timeline-years.space.yaml for documentation.
 */
#}
{# Defaults #}

{# Template #}
{% block timelineyear %}
  <div class="milestone">
  <span class="date-year">{{ year }}</span>
   {% if date|render|striptags|trim %}
      <span class="date-month">{{date}}</span>
    {% endif %}
  </div>
  <div class="group_timeline">{{ items }}</div>
{% endblock %}
