{#
/**
 * @file
 * _sticky-content-vertical-multiple-fraction-image
 *
 * See sticky-content.space.yaml for documentation.
 */
#}

{{ attach_library('oecd/sticky-component') }}

<div class="scroll-text-block">
  <div class="scroll-text-div">
    <div class="scroll-animation-box" tabindex='0'>
      {{ image }}
    </div>
  </div>
</div>
