/* Generic text block */

.text-block .block-title {
  @apply font-bold tracking-closed mb-0;
}

.text-block .block-content {
  @apply mb-0 font-normal tracking-default;

  p {
    @apply mb-6;

    &:last-child {
      @apply mb-0;
    }
  }

  ul {
    @apply list-disc ml-4 mb-6;
  }

  ol {
    @apply list-decimal ml-6 mb-6;
  }

  blockquote {
    @apply my-6 mx-auto italic py-6 pl-72 pr-7 border-l-8 border-solid relative;

    &:before {
      @apply text-96 absolute left-2 top-10;

      content: "\201C";
      font-family: 'Arial';
    }

    &:after {
      content: '';
    }

    span {
      @apply block not-italic font-bold mt-4;
    }
  }

  hr {
    @apply my-6;
  }
}

.text-block .block-title.size-130,
.text-block .block-content.size-130 {
  @apply leading-96 text-96 md:leading-116 md:text-130;
}

.text-block .block-title.size-96,
.text-block .block-content.size-96 {
  @apply leading-72 text-60 md:leading-96 md:text-96;
}

.text-block .block-title.size-72,
.text-block .block-content.size-72 {
  @apply leading-60 text-48 md:leading-76 md:text-72;
}

.text-block .block-title.size-60,
.text-block .block-content.size-60 {
  @apply leading-60 text-48 md:leading-72 md:text-60;
}

.text-block .block-title.size-48,
.text-block .block-content.size-48 {
  @apply leading-44 text-36 md:leading-60 md:text-48;
}

.text-block .block-title.size-36,
.text-block .block-content.size-36 {
  @apply leading-40 text-30 md:leading-44 md:text-36;
}

.text-block .block-title.size-30,
.text-block .block-content.size-30 {
  @apply leading-40 text-30;
}

.text-block .block-title.size-24,
.text-block .block-content.size-24 {
  @apply leading-32 text-24;
}

.text-block .block-title.size-20,
.text-block .block-content.size-20 {
  @apply leading-32 text-20;
}

.text-block .block-title.size-18,
.text-block .block-content.size-18 {
  @apply leading-28 text-18;
}

.text-block .block-title.size-16,
.text-block .block-content.size-16 {
  @apply leading-24 text-16;
}

.text-block .block-title.size-14,
.text-block .block-content.size-14 {
  @apply leading-20 text-14;
}

.text-block .block-title.size-12,
.text-block .block-content.size-12 {
  @apply leading-20 text-12;
}

.text-block {
  @apply flex flex-col flex-wrap gap-y-4;

  .block-title,
  .block-content {
    * {
      @apply text-inherit text-color-inherit;
    }
  }

  .cta-button  {
    @apply flex gap-4 justify-start flex-wrap w-full;
    
    &.left-align-cta {
      @apply justify-start;
    }

    &.center-align-cta {
      @apply justify-center;
    }

    &.right-align-cta {
      @apply md:justify-end;
    }

    &.stack-align-cta {
      @apply flex-col items-start;
    }
  }
}
