{# Default #}
{% set tag_name = tag_name|default('div') %}
{% set attributes = attributes|default(create_attribute()) %}

{# Classes #}
{% set classes = [
  'carousel-item',
] %}

{# Template #}
{% block carousel_item_image_video_thumbnail %}
  {% apply spaceless %}
    <{{ tag_name }} {{ attributes.addClass(classes | sort | join(' ') | trim) }}>
      <div class="item-images-and-video-slideshow-thumbnail relative">
        <div class="image-col">
          {% if image|render|trim is not empty %}
            <span tabindex='0'>{{ image }}</span>
          {% endif %}
        </div>
      </div>
    </{{ tag_name }}>
  {% endapply %}
{% endblock %}
