/* Menu item - For Primary & Sub menu */

.sub-menu-item {
  @apply lg:px-4 py-3 w-full lg:max-w-[20rem] relative;

  transition: all 300ms ease-in-out;

  &:hover {
    @apply lg:bg-backgroundNeutral-neutralLight;

    > a {
      @apply text-textButtonLink-buttonLinkHover;
    }
  }

  > a {
    @apply text-text-heading static;

    text-decoration: none;
    transition: all 300ms ease-in-out;

    &.active {
      @apply text-textButtonLink-buttonLinkHover;
    }
  }

  .menu-item-description {
    @apply mt-1;
  }
}

.block-sub-menu {

  /* Below all modifier classes will be available 
  on block template level from drupal end directly 
  while adding/updating any menu block on layout section. 
  Template: docroot/themes/contrib/space/apps/drupal/templates/block/block--system-menu-block--layout.html.twig */

  /* Menu size */
  &.menu-normal {

    .sub-menu-item,
    ul.menu > li {
      > a {
        @apply text-16 leading-24 font-medium font-secondary;
      }
    }
  }

  &.menu-small {

    .sub-menu-item,
    ul.menu > li {
      > a {
        @apply text-18 leading-28 font-medium font-secondary;
      }
    }
  }

  &.menu-large {

    .sub-menu-item,
    ul.menu > li {
      > a {
        @apply text-24 leading-32 font-primaryBold;
      }
    }
  }

  /* Icon size */
  &.icon-false {

    .sub-menu-item,
    ul.menu > li {
      > a {

        .icon-span {
          @apply hidden;
        }
      }
    }
  }

  &.icon-small,
  &.icon-featured {

    .sub-menu-item,
    ul.menu > li {
      > a {

        .icon-span {
          @apply absolute left-0 mt-1 mr-4 lg:mx-4;

          svg {
            @apply w-[1.125rem] h-5 m-0;
          }
        }
      }
    }
  }

  &.icon-small {

    .sub-menu-item,
    ul.menu > li {
      @apply pl-80;

      > a {

        .icon-span {
          @apply mt-0 w-48 h-48 flex items-center justify-center;
        }
      }
    }
  }

  &.icon-featured {

    .sub-menu-item,
    ul.menu > li {
      @apply pl-80;

      > a {

        .icon-span {
          @apply w-48 h-48 flex items-center justify-center bg-backgroundPrimary-primaryExtraLight rounded-full;
        }
      }
    }
  }

  /* Menu layout type */
  &.horizontal-menu {

    .menu {
      @apply flex flex-wrap flex-col lg:flex-row;
  
      .sub-menu-item,
      > li {
        @apply py-2 lg:py-0 px-0 lg:px-3 m-0 !important;
  
        max-width: fit-content;
  
        &:hover {
          @apply bg-transparent;
        }
  
        .icon-span {
          @apply w-4 h-4 static ml-0 mr-3;
        }
      }
    }

    /* Alignment */
    &.left-align-menu {

      ul.menu {
        @apply justify-start;
      }
    }

    &.right-align-menu {

      ul.menu {
        @apply justify-end;
      }
    }

    &.center-align-menu {

      ul.menu {
        @apply justify-center;
      }
    }
  }

  /* Menu color */
  &.menu-text-text-heading {

    .menu_link_content,
    .link-element {
      @apply text-text-heading;
    }
  }

  &.menu-text-text-body {
    
    .menu_link_content,
    .link-element {
      @apply text-text-body;
    }
  }

  &.menu-text-text-primarydark {
    
    .menu_link_content,
    .link-element {
      @apply text-text-primaryDark;
    }
  }

  &.menu-text-text-primarylight {
    
    .menu_link_content,
    .link-element {
      @apply text-text-primaryLight;
    }
  }

  &.menu-text-text-primarymedium {
    
    .menu_link_content,
    .link-element {
      @apply text-text-primaryMedium;
    }
  }

  &.menu-text-text-danger {
    
    .menu_link_content,
    .link-element {
      @apply text-text-danger;
    }
  }

  &.menu-text-text-success {
    
    .menu_link_content,
    .link-element {
      @apply text-text-success;
    }
  }

  &.menu-text-text-warning {
    
    .menu_link_content,
    .link-element {
      @apply text-text-warning;
    }
  }

  &.menu-text-text-neutrallight {
    
    .menu_link_content,
    .link-element {
      @apply text-text-neutralLight;
    }
  }

  &.menu-text-text-neutralmedium {
    
    .menu_link_content,
    .link-element {
      @apply text-text-neutralMedium;
    }
  }

  /* Menu hover color */
  &.menu-hover-text-text-heading {

    .menu_link_content,
    .link-element {
      @apply hover:text-text-heading;
    }
  }

  &.menu-hover-text-text-body {
    
    .menu_link_content,
    .link-element {
      @apply hover:text-text-body;
    }
  }

  &.menu-hover-text-text-primarydark {
    
    .menu_link_content,
    .link-element {
      @apply hover:text-text-primaryDark;
    }
  }

  &.menu-hover-text-text-primarylight {
    
    .menu_link_content,
    .link-element {
      @apply hover:text-text-primaryLight;
    }
  }

  &.menu-hover-text-text-primarymedium {
    
    .menu_link_content,
    .link-element {
      @apply hover:text-text-primaryMedium;
    }
  }

  &.menu-hover-text-text-danger {
    
    .menu_link_content,
    .link-element {
      @apply hover:text-text-danger;
    }
  }

  &.menu-hover-text-text-success {
    
    .menu_link_content,
    .link-element {
      @apply hover:text-text-success;
    }
  }

  &.menu-hover-text-text-warning {
    
    .menu_link_content,
    .link-element {
      @apply hover:text-text-warning;
    }
  }

  &.menu-hover-text-text-neutrallight {
    
    .menu_link_content,
    .link-element {
      @apply hover:text-text-neutralLight;
    }
  }

  &.menu-hover-text-text-neutralmedium {
    
    .menu_link_content,
    .link-element {
      @apply hover:text-text-neutralMedium;
    }
  }

  /* Description color */
  &.desc-text-text-heading {

    .menu-item-description,
    .link-label {
      @apply text-text-heading;
    }
  }
  
  &.desc-text-text-body {
    
    .menu-item-description,
    .link-label {
      @apply text-text-body;
    }
  }
  
  &.desc-text-text-primarydark {
    
    .menu-item-description,
    .link-label {
      @apply text-text-primaryDark;
    }
  }
  
  &.desc-text-text-primarylight {
    
    .menu-item-description,
    .link-label {
      @apply text-text-primaryLight;
    }
  }
  
  &.desc-text-text-primarymedium {
    
    .menu-item-description,
    .link-label {
      @apply text-text-primaryMedium;
    }
  }
  
  &.desc-text-text-danger {
    
    .menu-item-description,
    .link-label {
      @apply text-text-danger;
    }
  }
  
  &.desc-text-text-success {
    
    .menu-item-description,
    .link-label {
      @apply text-text-success;
    }
  }
  
  &.desc-text-text-warning {
    
    .menu-item-description,
    .link-label {
      @apply text-text-warning;
    }
  }
  
  &.desc-text-text-neutrallight {
    
    .menu-item-description,
    .link-label {
      @apply text-text-neutralLight;
    }
  }
  
  &.desc-text-text-neutralmedium {
    
    .menu-item-description,
    .link-label {
      @apply text-text-neutralMedium;
    }
  }

  /* Menu block border */
  &.left-menu-block-border {
    @apply lg:border-l lg:pl-6;
  }

  &.right-menu-block-border {
    @apply lg:border-r lg:pr-6;
  }

  &.menu-block-border-color-heading {
    @apply border-text-heading;
  }

  &.menu-block-border-color-body {
    @apply border-text-body;
  }

  &.menu-block-border-color-primarydark {
    @apply border-text-primaryDark;
  }

  &.menu-block-border-color-primarylight {
    @apply border-text-primaryLight;
  }

  &.menu-block-border-color-primarymedium {
    @apply border-text-primaryMedium;
  }

  &.menu-block-border-color-danger {
    @apply border-text-danger;
  }

  &.menu-block-border-color-success {
    @apply border-text-success;
  }

  &.menu-block-border-color-warning {
    @apply border-text-warning;
  }

  &.menu-block-border-color-neutrallight {
    @apply border-text-neutralLight;
  }

  &.menu-block-border-color-neutralmedium {
    @apply border-text-neutralMedium;
  }

  /* Menu item weight */
  &.menu-font-300 {
    ul.menu > li > a {
      @apply font-light;
    }
  }

  &.menu-font-400 {
    ul.menu > li > a {
      @apply font-normal;
    }
  }

  &.menu-font-500 {
    ul.menu > li > a {
      @apply font-medium;
    }
  }

  &.menu-font-600 {
    ul.menu > li > a {
      @apply font-semibold;
    }
  }

  &.menu-font-700 {
    ul.menu > li > a {
      @apply font-bold;
    }
  }

  &.menu-font-800 {
    ul.menu > li > a {
      @apply font-extrabold;
    }
  }

  /* Block title size */
  &.block-title-16 {

    .block-title {
      @apply text-16 leading-24;
    }
  }

  &.block-title-18 {

    .block-title {
      @apply text-18 leading-28;
    }
  }

  &.block-title-20 {

    .block-title {
      @apply text-20 leading-28;
    }
  }

  &.block-title-24 {

    .block-title {
      @apply text-24 leading-32;
    }
  }

  /* Block title weight */
  &.block-title-font-300 {
    
    .block-title {
      @apply font-light;
    }
  }

  &.block-title-font-400 {
    
    .block-title {
      @apply font-normal;
    }
  }

  &.block-title-font-500 {
    
    .block-title {
      @apply font-medium;
    }
  }

  &.block-title-font-600 {
    
    .block-title {
      @apply font-semibold;
    }
  }

  &.block-title-font-700 {
    
    .block-title {
      @apply font-bold;
    }
  }

  &.block-title-font-800 {
    
    .block-title {
      @apply font-extrabold;
    }
  }
}
