.avatar-item {
	@apply h-6 inline-block;
}
.avatar-item:not(:first-child) {
	margin-left: -0.75rem;
}
.avatar-label-group-wrapper {
	display: flex;
}
.avatar-label-item:not(:first-child) {
	margin-left: 3.75rem;
}
