{#
/**
* @file
* _sticky-item-vertical-multiple-data
*
* See sticky-item.space.yaml for documentation.
*/
#}

<div class="splide__container">
  <div id="vertical-multiple-data" class="splide splide-slider splide-data-slider">
    <div class="splide__track">
      <ul class="splide__list list-wrapper">
        {% for key, item in items %}
          <li class="splide__slide list-item-sticky ga_space_component">{{ item }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="splide__arrows lg:hidden">
      <div class="container mx-auto flex flex-wrap">
        <button class="splide__arrow splide__arrow--prev bg-defaultGray-50 p-3 rounded-full mr-6">
          <span class="sr-only" tabindex='0'>Previous</span>
          {% include "@atoms/svg/_svg--icon.twig" with {
            icon: "chevronRight",
            size: 'w-6 h-6',
          } only %}
        </button>
        <button class="splide__arrow splide__arrow--next bg-defaultGray-50 p-3 rounded-full">
          <span class="sr-only" tabindex='0'>Next</span>
          {% include "@atoms/svg/_svg--icon.twig" with {
            icon: "chevronRight",
            size: 'w-6 h-6',
          } only %}
        </button>
      </div>
    </div>
  </div>
</div>
