{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing secondary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

{{ attach_library('oecd/tabs') }}

{% if primary %}
 <nav class="tabs__container container">
		<ul id="blocktabs__nav" class='flex maxLg:flex-row blocktabs__nav_edit flex-wrap'>{{ primary }}</ul>
  </nav>
{% endif %}
{% if secondary %}
  <nav class="tabs__container">
		<ul id="blocktabs__nav" class='flex tabs__box maxLg:flex-row blocktabs__nav_edit'>{{ secondary }}</ul>
  </nav>
{% endif %}

